@font-face {
    font-family: "DINPro Medium";
    src: url(../fonts/DINPro-Medium.otf);
}
@font-face {
    font-family: "DINPro Regular";
    src: url(../fonts/DINPro-Regular.otf);
}
@font-face {
    font-family: "DINPro Bold";
    src: url(../fonts/DINPro-Bold.otf);
}
@font-face {
    font-family: "Interstate Light Compressed";
    src: url(../fonts/Interstate-LightCompressed.ttf);
}


::selection {
    background: #f15a3b; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #f15a3b; /* Gecko Browsers */
}

html,body { width: 100%; height: 100%; min-height: 700px; padding: 0; margin: 0;}
/*ul { padding:0; margin:0; white-space:nowrap; }
li { margin: 0; list-style-type:none; display:block; float: left; }*/

a { text-decoration: none; color: black; }
.cover {
    /*position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -235px; 
    margin-left: -300px;*/
    margin: 0 auto;
    position: relative;
    width: 600px;
    height: 330px;
    border: 2px solid black;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.wrapper {
    background: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 148px 0;
    margin-bottom: 60px;
    /*margin: 0 auto -140px;*/
}
.cover-white, .cover-white .stamp, .cover-white .inner-cover {
    border-color: white !important;
    color: white;
}

.nav {
    height: 75px;
    width: 100%;
    background: white;
}

.toTop {
    z-index: 100;
    position: fixed;
    top: 35px;
    left: 35px;
    width: 30px;
    height: 45px;
    cursor: pointer;
}
.toTop:before, .toTop:after {
    position: absolute;
    top: 5px;
    left: 5px;
    border-color: #f15a3b;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: '';
    display: inline-block;
    height: 20px;
    -webkit-transition: -webkit-transform .6s .6s, opacity .6s;
    -moz-transition: -moz-transform .6s .6s, opacity .6s;
    -o-transition: -o-transform .6s .6s, opacity .6s;
    transition: transform .6s .6s, opacity .6s;
    opacity: 0;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    vertical-align: top;
    width: 20px;
}
.toTop:after {
    top: 15px;
}
.toTop.active:before, .toTop.active:after {
    opacity: 1;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.toTop:hover:before, .toTop:hover:after {
    left: 4px;
    border-width: 2px 2px 0 0;
}

.inner-cover {
    width: 87%;
    height: 290px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.tagline-container {
    position: relative;
    height: 50px;
    border: 1px solid;
    border-color: inherit;
}
.fe {
    float: left;
    padding: 0 15px;
    display: block;
    font-family: "Interstate Light Compressed";
    font-size: 30px;
    color: inherit;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid;
    border-color: inherit;
}
.tagline {
    overflow: hidden;
    display: table;
    height: 50px;
    padding: 0 20px;
    /*text-align: center;*/
}
.tag-text {
    vertical-align: middle;
    display: table-cell;
    font-family: "Courier New";
    line-height: 15px;
    font-size: 15px;
    color: inherit;
    text-align: left;
}
ul.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: table;
    table-layout: auto;
}

ul li {
    margin: 0;
    list-style-type: none;
    display: table-cell;
    width: 100%;
    text-align: center;
}
li > a {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 8px;
    height: 50px;
    min-width: 80px;
    border-right: 1px solid black; 
}
.menu > li:last-child > a {
    border-right: none;
}
.menu li > a:hover:after {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid #f15a3b;

}
.menu > li > a:focus {
    background: #dcdcd3;
    background-size: 
}
li .higher {
    position: absolute;
    top: 4px;
    left: 8px;
    font-family: "Interstate Light Compressed";
    font-size: 16px;
}
li .lower {
    position: absolute;
    left: 16px;
    bottom: 8px;
    text-align: left;
    font-family: "Courier New";
    font-size: 14px;
    letter-spacing: 0;
}
.space {
    border: 1px solid;
    border-top: none;
    border-bottom: none;
    height: 5px;
}
h1.title {
    margin: 0;
    color: inherit;
    font-family: "DINPro Bold";
    font-size: 42px;
    letter-spacing: 0.075em;
    text-align: center;
    font-weight: normal;
    height: 180px;
    line-height: 180px;
    border: 1px solid;
    border-color: inherit;
}
h2.presenter {
    margin: 0;
    color: inherit;
    font-family: "DINPro Regular";
    font-size: 16px;
    letter-spacing: 0.05em;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid;
    border-color: inherit;
    border-bottom: none;
    font-weight: normal;
}
h3.stamp {
    position: absolute;
    bottom: 100%;
    right: 6%;
    margin: 0 0 .5em;
    font-family: "DINPro Medium";
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #998675;
    font-weight: normal;
}

.manual-container {
    margin: 0 auto 50px;
    padding: 60px 0;
    position: relative;
    width: 800px;
    background: #dcdcd3;
}
#fe-header::before {
    content: "FE 20-15";
    display: inline;
    border: 1px solid #231f20;
    color: #231f20;
    font-size: 22px;
    letter-spacing: 0;
    font-family: "Interstate Light Compressed";
    height: 22px;
    line-height: 22px;
    margin-right: 12px;
    padding: 0 12px;
}
h3.section-header {
    height: 22px;
    line-height: 22px;
    margin-bottom: 10px;
}
h3.section-header > span {
    position: relative;
    font-family: "DINPro Medium";
    font-size: 20px;
    letter-spacing: 0.025em;
    color: #231f20;
}
h3.section-header > span::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65px;
    border-bottom: 1px solid #f15a3b;
}
.mission > p{
    width: 520px;
    margin: auto;
    font-family: "DINPro Medium";
    font-size: 20px;
    letter-spacing: 0.025em;
    color: #231f20;
}
.mission {
    /*width: 700px;*/
    margin: auto;
    padding-bottom: 40px;
    border-bottom: 1px solid #f15a3b;
}

h4 {
    color: #231f20;
    font-family: "DINPro Medium";
    font-size: 16px;
    letter-spacing: 0.025em;
    margin: 40px 0 10px;
}
p.about-text {
    margin: 0 auto;
    color: #231f20;
    font-family: "Courier New";
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 0;
}
.dictionary {
    color: #898989;
}
.outline {
    pointer-events: none;
    position: absolute;
    border: 1px solid black;
    top: 20px;
    bottom: 20px;
    left: -20px;
    right: -20px;
    /*width: 900px;*/
    margin: auto;
}

.text-container {
    width: 700px;
    margin: 0 auto
}

.footer, .push {
    margin-top: 29px;
    height: 140px;
}
.footer .links {
    margin-top: 0;
    height: 35px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    text-align: center;
}
.footer .links li {
    display: inline-block;
    width: 100px;
}
.footer .links li.long {
    width: 200px;
}
.footer .links li.long span {
    white-space: nowrap;
}
.footer .links .non-link {
    height: 35px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 8px;
    min-width: 80px;
}
.footer .links li > a {
    height: 35px;
}
.footer .block{
    width: 100%;
    height: 95px;
    background: #dcdcd3;
}