@font-face {
    font-family: "DINPro Medium";
    src: url(../fonts/DINPro-Medium.otf);
}
@font-face {
    font-family: "DINPro Regular";
    src: url(../fonts/DINPro-Regular.otf);
}
@font-face {
    font-family: "DINPro Bold";
    src: url(../fonts/DINPro-Bold.otf);
}
@font-face {
    font-family: "Courier New";
    src: url(../fonts/Courier-New.ttf);
}
@font-face {
    font-family: "Interstate Light Compressed";
    src: url(../fonts/Interstate-LightCompressed.ttf);
}


html,body { width: 100%; height: 100%; min-height: 700px; padding: 0; margin: 0;}
/*ul { padding:0; margin:0; white-space:nowrap; }
li { margin: 0; list-style-type:none; display:block; float: left; }*/

a { text-decoration: none; color: black; }
.cover {
    /*position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -235px; 
    margin-left: -300px;*/
    margin: 120px auto;
    position: relative;
    width: 600px;
    height: 330px;
    border: 2px solid black;
}

.inner-cover {
    width: 87%;
    height: 290px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.menu-container {
    position: relative;
    height: 50px;
    border: 1px solid black;
}
ul.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: table;
    table-layout: auto;
}

ul li {
    margin: 0;
    list-style-type: none;
    display: table-cell;
    width: 100%;
    text-align: center;
}
li > a {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 8px;
    height: 50px;
    min-width: 80px;
    border-right: 1px solid black; 
}
.menu > li:last-child > a {
    border-right: none;
}
.menu li > a:hover:after {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid #f15a3b;

}
.menu > li > a:focus {
    background: #dcdcd3;
    background-size: 
}
li .higher {
    position: absolute;
    top: 4px;
    left: 8px;
    font-family: "Interstate Light Compressed";
    font-size: 16px;
}
li .lower {
    position: absolute;
    left: 16px;
    bottom: 8px;
    text-align: left;
    font-family: "Courier New";
    font-size: 14px;
    letter-spacing: 0;
}
.space {
    border: 1px solid;
    border-top: none;
    border-bottom: none;
    height: 5px;
}
h1.title {
    margin: 0;
    color: black;
    font-family: "DINPro Bold";
    font-size: 42px;
    letter-spacing: 0.075em;
    text-align: center;
    font-weight: normal;
    height: 180px;
    line-height: 180px;
    border: 1px solid black;
}
h2.presenter {
    margin: 0;
    color: black;
    font-family: "DINPro Regular";
    font-size: 16px;
    letter-spacing: 0.05em;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    border-bottom: none;
    font-weight: normal;
}
h3.stamp {
    position: absolute;
    bottom: 100%;
    right: 6%;
    margin: 0 0 .5em;
    font-family: "DINPro Medium";
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #998675;
    font-weight: normal;
}

.rfp-container {
    margin-bottom: 50px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    background: #dcdcd3;
}
.outline {
    pointer-events: none;
    position: absolute;
    border: 1px solid black;
    top: -20px;
    bottom: -20px;
    left: 0;
    right: 0;
    width: 900px;
    margin: auto;
}
.field-block {
    display: inline-block;
    border: 1px black solid;
    margin: 15px -25px;
    padding: 0 25px;
    text-align: center;
}
h2.rfp, h3.rfp {
    display: inline-block;
    border-bottom: 1px solid black;
    letter-spacing: 0.025em;
    position: relative;
    padding: 20px 0 10px;
    font-family: "Interstate Light Compressed";
    font-size: 22px;
}
h2.rfp {
    border-bottom-color: #f15a3b;
}
h2.rfp:before {
    letter-spacing: 0;
    content: "RFP";
    position: absolute;
    left: -50px;
    width: 40px;
    border: 1px solid black;
    text-align: center;
}
h3.rfp {
    padding: 5px 0;
    margin-bottom: 5px;
}
p.rfp {
    text-align: left;
    font-family: "Courier New Regular";
    font-size: 14px;
    line-height: 30px;
}
.text-container {
    max-width: 600px;
    margin: 0 auto
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -140px;
}
.footer, .push {
    height: 140px;
}
.footer .links {
    margin-top: 0;
    height: 35px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    text-align: center;
}
.footer .links li {
    display: inline-block;
    width: 100px;
}
.footer .links li.long {
    width: 200px;
}
.footer .links li.long span {
    white-space: nowrap;
}
.footer .links .non-link {
    height: 35px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 8px;
    min-width: 80px;
}
.footer .links li > a {
    height: 35px;
}
.footer .block{
    width: 100%;
    height: 95px;
    background: #dcdcd3;
}